<h1>Listing articles</h1>

<table id='articles'>
	<tr>
		<th>Title</th>
		<th>Text</th>
	</tr>	
</table>

<%= link_to 'New article', new_article_path %>

<script id="article-row-template">
		<td>{{title}}</td>
		<td>{{text}}</td>
		<td><a href="/articles/{{id}}">Show</a></td>
		<td><a href="/articles/{{id}}/edit">Edit</a></td>
		<td><a href="" id="delete-article">Delete</a></td>
</script>