<h1>Listing articles</h1>

<div id="articles">
<table>
	<tr>
		<th>Title</th>
		<th>Text</th>
	</tr>	
</table>
<a href="" id="new-article">New article</a>
<div id="article-display"></div>
<div id="article-form"></div>
</div>

<script>
window.articles = <%=raw Article.all().to_json %>
</script>